arcgis==1.8.2
jupyter_contrib_nbextensions
pysal
## NOTE: cartopy requires PROJ < 6 (4.9.3, provided by OS 'apt-get ')
## graphviz and rasterio PROJ >= 6 (provided by conda-forge)
## So cartopy must be installed before graphviz/rasterio!
pyshp
cartopy
Geopandas
folium
mplleaflet
mapclassify
Rtree
geopy
